/* Custom CSS For Application: */
/* Google Custom Fonts:*/
/* Importing fonts used for application including 'Fredoka' as well as 'Inter' for Tailwind components: */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Adding Tailwind directives: */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  position: relative;
  width: 390px;
  height: 844px;
  background: #FFFFFF;
  text-align: center;
}

#logo {
  font-family: 'Fredoka', sans-serif;
  font-size: 60px;
}

#about-link {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 26px;
  top: 732px;
  border-radius: 15px;
}

#timer-link {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 116px;
  top: 732px;
  border-radius: 15px;
}

#stopwatch-link {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 206px;
  top: 732px;
  border-radius: 15px;
}

#metronome-link {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 296px;
  top: 732px;
  border-radius: 15px;
}

#bpm-div {
  position: absolute;
  background-color: red;
  /* This is to ensure 32 pixels width, but 16 pixels on either side of the center point: */
  left: 110px;
  top: 130px;
}

.title {
  font-family: 'Fredoka', sans-serif;
  font-size: 60px;
}

.top {
  position: absolute;
  width: 390px;
  height: 341px;
  left: 0px;
  top: 0px;
  background-color: #26001F;
}

.medium-purple-square {
  box-sizing: border-box;
  position: absolute;
  width: 345px;
  height: 251px;
  left: 20px;
  top: 27px;
  background: #71105F;
  border-radius: 15px;
}

.bottom {
  position: absolute;
  width: 390px;
  height: 541px;
  left: 0px;
  top: 303px;
  background: #C222A4;
  border-radius: 15px;
}

.glossy-button {
  /* background styles */
	position: relative;
	display: inline-block;
	padding: 15px 25px;
	background-color: green; /*for compatibility with older browsers*/
  background-image: linear-gradient(#ff7b00, #fff018);

	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;

  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  border: 5px solid black;

  /* Added this to force te Font Awesome icons to be centered: */
  display: flex;
  justify-content: center;
}

.font-awesome {
  color: #250025;
}

.glossy-button:after {
  border-radius: 15px;

  content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.glossy-button:hover {
  /* background: linear-gradient(#818181,#11c7ff); */
	background: linear-gradient(green,lightgreen);
}

.timer-counter-div {
  position: absolute;
  width: 233px;
  height: 82px;
  left: 69px;
  background: #D9D9D9;
  border-radius: 15px;
}

.timer-counter-input {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.start-button {
  background: #00FF38;
  border-radius: 15px;
  position: absolute;
  width: 108px;
  height: 61px;
  left: 132px;
  top: 260px;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

/* NOTE: When the start button is pressed, the style of the button will change to this one instead: */
.stop-button {
  background: #FF0404;
  border-radius: 15px;
  position: absolute;
  width: 108px;
  height: 61px;
  left: 132px;
  top: 260px;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.reset-mute-button {
  background: #FFE600;
  border-radius: 15px;
  position: absolute;
  width: 108px;
  height: 61px;
  left: 132px;
  top: 340px;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.menu {
  position: absolute;
  left: 10px;
  top: 125px;
}

.menu ul {
  list-style-type: none;
}
.menu li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.metronome-circle {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: red;
  margin-left: 25px;
}

/* From Tailwind CSS example: */
.output-header {
  font-size: 60px;
}

h1 {
  font-family: 'Fredoka', sans-serif;
  color: white;
}

p {
  color: white;
  font-family: 'Fredoka', sans-serif;
  font-size: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

/* Forcing labels to appear above inputs for 'Timer' and 'Stopwatch' pages: */
input, label {
  display: block;
}

input {
  color: black;
  text-align: center;
}