/* Custom CSS For Application: */
#app {
  text-align: center;
  height: 500px;
}

.top {
  background-color: #26001f;
}

.medium-purple-square {
  background-color: #71105f;
  border-radius: 15px;
  margin-left: 25px;
  margin-right: 25px;
  height: 125px;
}

/* Control the right side */
.bottom {
  background-color: #c222a4;
}

#about-button {
  background-color: #d9d9d9;
  background-image: url(assets/Info.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#timer-button {
  background-color: #d9d9d9;
  background-image: url(assets/Clock.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#stopwatch-button {
  background-color: #d9d9d9;
  background-image: url(assets/Stopwatch.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#metronome-button {
  background-color: #d9d9d9;
  background-image: url(assets/Metronome.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

h1 {
  color: white;
}